{% extends './base.html' %}
{% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
{% endblock %}

{% block content %}
    <h1>Contacto</h1>
    <p>Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros.</p>

    <h2>Información de Contacto</h2>
    <p><strong>Teléfono:</strong> +34 123 456 789</p>
    <p><strong>Email:</strong> contacto@ejemplo.com</p>
    <p><strong>Dirección:</strong> Calle Ejemplo, 123, Ciudad, País</p>

    <h2>Formulario de Contacto</h2>
    <form action="#" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

        <button type="submit">Enviar</button>
    </form>
    <h4><a href="/">Ir a inicio</a></h4>
{% endblock %}