{% extends './base.html' %}
{% block title %}
    <title>Producto - Tienda Online</title>
{% endblock %}

{% block content %}
    <h1>Tienda Online</h1>

    <div class="product-container">
        <img src="producto.jpg" alt="Producto" class="product-image">
        <h2>Producto Ejemplo</h2>
        <p class="product-description">
            Este es un producto de ejemplo para nuestra tienda online. Aquí puedes agregar una descripción detallada del producto, sus características, beneficios y cualquier otra información relevante.
        </p>
        <p class="product-price">$49.99</p>
        <button>Agregar al Carrito</button>
    </div>
    <h4><a href="/">Ir a inicio</a></h4>
{% endblock %}