{% extends './base.html' %}
{% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - Empresa XYZ</title>
{% endblock %}

{% block content %}
    <h1>Servicios - Empresa XYZ</h1>
    <p>Descubre nuestros servicios de calidad para satisfacer tus necesidades.</p>

    <div class="service-container">
        <div class="service-icon">&#128218;</div>
        <h2 class="service-title">Servicio 1</h2>
        <p class="service-description">
            Aquí puedes describir detalladamente el primer servicio que ofrece tu empresa. Incluye información sobre las características, beneficios y cualquier otra información relevante.
        </p>
        <button>Solicitar Servicio</button>
    </div>

    <div class="service-container">
        <div class="service-icon">&#128295;</div>
        <h2 class="service-title">Servicio 2</h2>
        <p class="service-description">
            Describe el segundo servicio que ofrece tu empresa. Puedes incluir información similar a la del primer servicio.
        </p>
        <button>Solicitar Servicio</button>
    </div>

    <div class="service-container">
        <div class="service-icon">&#128202;</div>
        <h2 class="service-title">Servicio 3</h2>
        <p class="service-description">
            Describe el tercer servicio que ofrece tu empresa. Puedes incluir información similar a la de los otros servicios.
        </p>
        <button>Solicitar Servicio</button>
    </div>
    <h4><a href="/">Ir a inicio</a></h4>
{% endblock %}